* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Saira", sans-serif;
    color: #cbcbcb;
    position: absolute;
    background-color:#151515;
    min-width: 60vw;
    margin: 0 20vw;
}

div.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 100vh;
    max-height: auto;
    background-color: #3d2b29;
}

img.header-img {
    margin: 0%;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
